<div class="custom-card">
    <slot />
</div>

<style>
  .custom-card {
    padding: 1rem;
    border-radius: 8px;
    background-color: #bb0909;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
  }
</style>
